@model List<Add>
@{
    ViewData["Title"] = "Index";
}
<div class="main-panel">
    <div>
        <a class="btn btn-success" asp-area="MultiShopAdmin" asp-controller="add" asp-action="Create">Create new Add</a>
    </div>
    <div class="table-responsive pt-3">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>
                        Image
                    </th>
                    <th>
                        Id
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Discount
                    </th>
                   <th>
                       Settings
                    </th> 
                </tr>
            </thead>
            <tbody>
                @foreach (Add add in Model.OrderByDescending(p=>p.Id))
                {
                    <tr>
                        
                        <td>
                            <img style="width:150px !important; height:150px; object-fit:contain" src="~/assets/img/@add.Image" alt="@add.Image">
                        </td>
                        <td>
                            @add.Id
                        </td>
                        <td>
                            @add.Title
                        </td>    
                        <td>
                            @add.Discount
                        </td>
                        <td >
                            <div class="d-flex">
                                 <div>
                                    <a asp-area="MultiShopAdmin" asp-controller="add" asp-action="Update" asp-route-id="@add.Id" class="btn btn-warning"><i class="mdi mdi-border-color"></i></a>
                                </div>
                                <div>
                                    <a class="btn btn-danger" asp-area="MultiShopAdmin" asp-controller="add" asp-action="Delete" asp-route-id="@add.Id"><i class="mdi mdi-delete"></i></a>
                                </div>
                                 <div>
                                    <a class="btn btn-primary" asp-area="MultiShopAdmin" asp-controller="add" asp-action="Detail" asp-route-id="@add.Id"><i class="mdi mdi-open-in-new"></i></a>
                                </div>
                            </div> 
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>




