
@model List<Product>
@{
    ViewData["Title"] = "Index";
}


<div class="main-panel">
    <div>
        <a class="btn btn-success" asp-area="MultiShopAdmin" asp-controller="Product" asp-action="Create">Create new Product</a>
        <p class="text-danger">@TempData["FileName"] @(TempData["FileName"]==null?"":"Removed as Not Valid")</p>
    </div>
    <div class="table-responsive pt-3">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>
                        Image
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Settings
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Product product in Model.OrderByDescending(p=>p.Id))
                {
                    <tr>
                        <td>
                            <img style="width:150px !important; height:150px; object-fit:contain" src="~/assets/img/@product.ProductImages.FirstOrDefault(p=>p.Primary == true)?.Name" alt="@product.ProductImages.FirstOrDefault(p=>p.Primary == true)?.Alt">
                        </td>
                        <td>
                            @product.Name
                        </td>
                         <td>
                            @product.Price
                        </td>
                        <td>
                            @product.Category.Name
                        </td>
                        <td >
                            <div class="d-flex">
                                 <div>
                                    <a asp-area="MultiShopAdmin" asp-controller="product" asp-action="Update" asp-route-id="@product.Id" class="btn btn-warning"><i class="mdi mdi-border-color"></i></a>
                                </div>
                                <div>
                                    <a class="btn btn-danger cus-remove" asp-area="MultiShopAdmin" asp-controller="product" asp-action="Delete" asp-route-id="@product.Id"><i class="mdi mdi-delete"></i></a>
                                </div>
                                 <div>
                                    <a class="btn btn-primary" asp-area="MultiShopAdmin" asp-controller="product" asp-action="Detail" asp-route-id="@product.Id"><i class="mdi mdi-open-in-new"></i></a>
                                </div>
                            </div> 
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section Confirm{
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
const btn = document.querySelector(".cus-remove");
btn.addEventListener("click", (event) => {
    event.preventDefault();
    const href=event.currentTarget.getAttribute("href")
    Swal.fire({
  title: 'Are you sure?',
  text: "You won't be able to revert this!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, delete it!'
}).then((result) => {
  if (result.isConfirmed) {
      fetch(href).then(response => response.json()).then(data => {
          if (data.status == 200) {
               Swal.fire(
      'Deleted!',
      'Your file has been deleted.',
      'success'
    )
    location.reload(true)
          }
      })
   
  }
})
})
        

    </script>

}
