@model ProductInformation
@{
    ViewData["Title"] = "Detail";
}

<div class="container bootdey">
<div class="col-md-12">
<section class="panel">
      <div class="panel-body">
          <div class="col-md-6">
              <h2>ProductInformation Detail</h2>
              <h4>Id:@Model.Id</h4>
              <br>
          </div>
          <div class="col-md-6">
              <h4 class="pro-d-title">  
                <strong>Key:</strong>@Model.Key
              </h4>
              <div class="product_meta">
              <p>
                 <strong>Description:</strong> @Model.Desc
              </p>
                  <p class="posted_in"> <strong>Products:</strong>  @(Model.Products==null?0:Model.Products.Count)</p>
                  <div class="main d-flex">
                      @if (Model.Products!=null)
                            {
                                @foreach (Product product in Model.Products){
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="~/assets/img/@product.ProductImages.FirstOrDefault(p=>p.Primary==true)?.Name" alt="@product.Name">
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate" asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id">@product.Name</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5>$@product.CheckDiscount()</h5><h6 class="text-muted ml-2">
                            @if (product.DiscountId!=null)
                            {
                               <del>$@product.Price</del>                      
                            }
                            </h6>
                    </div>
                    <div class="d-flex align-items-center justify-content-center mb-1">
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small>(99)</small>
                    </div>
                </div>
            </div>
        </div>
}
                            }

                  </div>
              </div>
          </div>
      </div>
  </section>
  </div>
  </div>

